.NlSidebar-container {
  background: #3e4954;
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  top: 64px;
  width: 56px;
  padding-top: 10px;

  overflow: hidden;
  transition: width ease-in-out 0.31s;

  color: white;

  &:hover {
    width: 240px;
  }

  li {
    margin-top: 5px;

    a {
      color: white;
      text-decoration: none;
      font-weight: normal;

      &:hover {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}
