@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .grid-cols-2-auto {
      grid-template-columns: repeat(2, auto);
    }
  }
  @variants hover {
    .darken {
      filter: brightness(85%);
    }
  }
  .transition-filter {
    transition-property: filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .text-nl {
    color: #fc7422;
  }

  .bg-nl {
    background: #fc7422;
  }
}
